<div class="session-background">
<%= form_for :user, url: create_session_path do |f| %> 
	<div class="login">
     <div class="label"><%= label_tag :email %>:</div>
     <div class="text"><%= text_field_tag :email %></div>

     <div class="label"><%= label_tag :password %>:</div>
     <div class="text"><%= password_field_tag :password %></div>
	</div>
<br> 
	<div class="btn-group" role="group" aria-label="...">
<%= submit_tag "Log In", class: "btn btn-default" %>
	</div>
</div>
<% end %>