<div class="image">
<%= form_for(@user) do |f| %>
     
	
      <div class="entry"><%= f.label :email %>
      <%= f.email_field :email %>

      <div class="entry"><%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>

      <div class="entry"><%= f.submit "Signup" %>
  </div>
    <% end %>
</div>